<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DBControl" version="4.5.264" targetFramework="net45" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net45" />
  <package id="R.NET.Community" version="1.5.22" targetFramework="net45" />
  <package id="TsdLib.Build" version="1.1.22" targetFramework="net45" developmentDependency="true" />
  <package id="TsdLib.CodeGenerator" version="2.0.13-debug" targetFramework="net45" />
  <package id="TsdLib.Configuration" version="2.1.2-debug" targetFramework="net45" />
  <package id="TsdLib.Core" version="2.0.44-debug" targetFramework="net45" />
  <package id="TsdLib.Forms" version="2.0.71-debug" targetFramework="net45" />
  <package id="TsdLib.Measurements" version="2.0.44-debug" targetFramework="net45" />
  <package id="TsdLib.TestSystem" version="2.0.171-debug" targetFramework="net45" />
  <package id="TsdLib.UI" version="2.0.57-debug" targetFramework="net45" />
</packages>